.animation-editor-toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 35px;
	padding: 0 10px;
	background-color: #494949;
	border-bottom: 1px solid #272727;
	border-top: 1px solid #636363;
	gap: 10px;
}

.toolbar-group {
	display: flex;
	align-items: center;
	gap: 5px;
}

